body {
    background-color: #1f2029;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/042/489/non_2x/search-research-watch-clock-blue-icon-on-abstract-cloud-background-free-vector.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    backdrop-filter: blur(5px);  
}
.main {
   margin-left: 0px;
   border-radius: 5px;
   display: flex;
   width: 80%;
   margin: 0 auto;
   padding: 20px;
   background-image: url(https://wallpapercave.com/wp/wp8824914.jpg);
   box-shadow: 15px 20px 15px rgba(3, 6, 3, 5);
}
.main2{
    margin-right: 8px;
    margin-top: 5%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: nowrap;
}
.add{
    color: #1f2029;
    box-shadow: 15px 20px 10px rgba(3, 6, 3, 5);
    border-radius: 15px;
    margin: 15px;
    padding: 30px;
    border: 2px solid #1f2029;
    transition-duration: 0.5s;
}
.add:hover{
        color:aliceblue;
        background-color: #1f2029;
        box-shadow: 9px 50px 10px rgba(3, 6, 3, 5);
        border-radius: 15px;
        margin: 10px;
        border: 2px solid aliceblue;
}

img{
    border-radius: 10px;
    height: 500px;
}
h2{
    margin-top: 10%;
    text-align: center;
    color: rgb(175, 180, 184);
    transition-duration: 0.5s;
}
h2:hover{
    margin-top: 10%;
    text-align: center;
    color: aliceblue;
}

h1{
    text-align: center;
}

.main button[type="submit"] {
    width: 150px;
    height: 50px;
    margin-left: 45%;
    background-color: aliceblue;
    color: #1f2029;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #30313a;
    transition: background-color 0.3s ease-in-out;
    transition: 1s;
}

.main button[type="submit"]:hover {
    margin-left: 43%;
    background-color:#30313a;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 15px;
}